html {
    height: 100%;
    margin: 0;
    padding: 0
}
body {
    height: 100%;
    margin: 0;
    padding: 0
}
#wrapper {
   min-height: 100%;
   height: auto;
   position: relative 
}
.default-header {
    background-color: #fff;
    padding: 20px 0;
    width: 100% !important;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    height: 80px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #222222;
}
.top-background {
    background-image: url(./images/home.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.full-screen-height {

    height: 85vh;
   
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}
.lh-2 {
    line-height: 2
}
.primary-btn2 {
    line-height: 42px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    background: #222222;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-align: center
}

.primary-btn2 span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.lnr {
    font-weight: 700;
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.side-nav-1 {
margin-top: 120px;
min-height: 400px

}
.form-panel {
    border-radius: 4px;
    border: 1px solid transparent;
    color: #777;
    background-color: #f5f5f5;
    padding: 9px;
    font-size: 16px;
    font-weight: 700;
    margin: 7px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid transparent;
    border-color: #ddd;
}
.element-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
.element-center3{

        position: relative;
        left: 40%;
        transform: translateX(-60%);
  
}

.bank-form {

    height: 150px;
    width: 140px;
    background: #f5f5f5;
    margin: 10px;
    padding: 10px;
 color: #777;
 font-weight: 700;
 text-align: center
}
.logo-size {
    height: 60px
}
.space100 {
    height: 100px;
}
.space5 {
    height: 50px;
}

.mt-70 {
    margin-top: 70px
}
.logo-design {
    color: #222222;
    font-weight: 700;
    font-size: 24px
}
.client-logo-size {
    margin: 20px;
    height: 95px;
    width: 95%;
    max-width: 152px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.Partners {

    margin: 20px;
    text-align: center
}
.main-sidenav {
    position: fixed;
    top:0;
    bottom: 0;
    right:0;
    width: 200px;
    background-color: #f5f5f5;
    display: none

}
.position-right {
    position: absolute;
    right: 1%;
    top: 1%;
}

.main-sidenav .active {
    display: block
}
.text-style1 {
    font-weight: 500;
    font-size: 16px;
    padding: 7px;
}
.text-style2 {
    font-weight: 700;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
}
.partners-box {
    height: 330px;
    width: 330px;
    margin: 7px

}
.partners-middle-box {
    height: 150px;
 position: relative;
}
.partners-images {
    width: 100%;
    height: 180px
}
.partners-btn {
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}